<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <div class="field">          
          <%= form.text_field :title, :class => "form-control", :placeholder => "Title" %>
        </div>
       
        <div class="field">
          <%= form.text_area :description, :class => "form-control", :rows => "2", :placeholder => "Breif Description" %>
        </div>

        <div class="field">          
          <%= form.text_area :blog_post, :class => "form-control", :rows => "20", :placeholder => "Your amazing blog post..." %>
        </div>

        <div class="field">
          <%= form.label :image, :class => "" %>
          <%= form.file_field :image, :class=>"" %>
        </div>

        <!--<div class="field">
          <%= form.select(:genres, [['Select Category', ''],['Kitchen', 'Kitchen'],
                                    ['Marriage','Marriage'],['Decor','Decor'],
                                    ['Ideas','Ideas']], {}, {:class =>"custom-select"})
                                    %>
        </div>-->

        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    </div> <!-- end of col-8 -->

    <div class="col-4">
    </div> <!--end of col-4-->

  </div> <!--end of row-->
<% end %>
