<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <div class="field"> <!--Blog Title-->   
          <%= form.text_field :title, :class => "form-control", :placeholder => "Title" %>
        </div>
       
        <div class="field"> <!--Caption Picture-->
          <%= form.text_area :description, :class => "form-control", :rows => "1", :placeholder => "Caption" %>
        </div>

        <div class="field"> <!--Blog Post-->         
          <%= form.text_area :blog_post, :class => "form-control", :rows => "20", :placeholder => "Your amazing blog post..." %>
        </div>

        <div class="field"> <!--Select Img-->
          <%= form.label :image, :class => "" %>
          <%= form.file_field :image, :class=>"" %>
        </div>

        <div class="field"> <!--Select Status-->
          <%= form.select :status, [['Draft', false],['Publish', true]], {}, {:class => "custom-select"} %>
        </div>

        <div class="field"> <!--Select Genres-->
          <%= form.select :genres, [['Choose Category',''],['Marriage','Marriage'],['Kitchen','Kitchen'],['Decor','Decor']], {}, {:class => "custom-select"} %>
        </div>

        <div class="actions"> <!--Submit-->
          <%= form.submit %>
        </div>
      </div>
    </div> <!-- end of col-8 -->

    <div class="col-4">
    </div> <!--end of col-4-->

  </div> <!--end of row-->
<% end %> <!--end of form_with-->
