<div class='row'>
    <div class='col-sm-8'>
        <a href="<%= post_url(@newest) %>" class="">
            <div class="card">
                <h2><%= @newest.title%></h2>
                <div class="card-holder">
                    <%= image_tag(@newest.image.menu.url, :class => "list-image") %>        
                </div>                  
            </div>
        </a>
    </div> <!-- end of col -->
    <div class='col-sm-4'>
        <div class="card ads">
            <%= image_tag("berk.jpg", :class => "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title">About the Author</h5>
                <p class="card-text">Meet Berkley, a fun, loving, and creative individual. Who aspires to inspire others with her day to day life!</p>
                <a href="#" class="btn btn-primary">More...</a>        
            </div>
        </div>
    </div> <!-- end of col-->
</div>
<div class="row">
    <div class='col-lg-6 col-md-6 col-sm-12'>
        <a href="<%= post_url(@marriage) %>" class="">
            <div class="card">
                <h2><%= @marriage.title%></h2>
                <div class="card-holder">
                    <%= image_tag(@marriage.image.menu.url, :class => "list-image") %>        
                </div>                  
            </div>
        </a>
    </div> <!-- end of col -->
    <div class='col-lg-6 col-md-6 col-sm-12'>
        <a href="<%= post_url(@home) %>" class="">
            <div class="card">
                <h2><%= @home.title%></h2>
                <div class="card-holder">
                    <%= image_tag(@home.image.menu.url, :class => "list-image") %>        
                </div>                  
            </div>
        </a>
    </div> <!-- end of col -->
    
</div>