<p id="notice"><%= notice %></p>

<h1>Berkley's Blog</h1>

    <% @posts.each do |post| %>
       <h2><%= link_to post.title, post %></h2>
       <a href="<%= post_url(post) %>"> <%= image_tag(post.image.tiny.url) %></a>
       <%= post.description %>
       <br>
       <% if current_user %>
       <%= link_to 'Edit', edit_post_path(post) %>
       <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
      <hr>  
    <% end %>

<br>

<% if current_user %>
<%= link_to 'New Post', new_post_path %>
<% end %>