<p id="notice"><%= notice %></p>

  <%= form_tag posts_path, method: "get" do %>
    <%= label_tag "Category" %>
    <%= select "post", "genres", options_for_select(['Marriage','Kitchen','Decor']), {prompt: 'Select Category'}, :onchange => 'submit()' %>
    <%= link_to 'Reset', posts_path %>
  <% end %>

    <% @posts.each do |post| %>
       <h2><%= link_to post.title, post %></h2>
       <a href="<%= post_url(post) %>" class=""> <%= image_tag(post.image.tiny.url) %></a>
       <%= post.description %>
       <%= post.genres %>
       <%= params[:post] %>
       <br>
       <% if current_user %>
       <%= link_to 'Edit', edit_post_path(post) %>
       <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
      <hr>  
    <% end %>

<br>

<% if current_user %>
<%= link_to 'New Post', new_post_path %>
<% end %>