<p id="notice"><%= notice %></p>

  <%= form_tag posts_path, method: "get" do %>
    <%= label_tag "Category" %>
    <%= select "post", "genres", options_for_select(['Marriage','Kitchen','Decor']), {prompt: 'Select Category'}, :onchange => 'submit()' %>
    <%= link_to 'Reset', posts_path %>
  <% end %>
  <hr>

  <div class="container-fluid">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-6 col-lg-4">
          <a href="<%= post_url(post) %>" class="">
            
              <div class="card">
                <h6><%= post.created_at.strftime("%B %d") %></h6>
                <h2><%= post.title%> <%=post.genres%></h2>
                <div class="card-holder">
                <%= image_tag(post.image.menu.url, :class => "list-image") %>        
                </div>                  
              </div>
            
            </a>
          <br>
            <% if current_user %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div> 
      <% end %>
    </div>
  </div>

<br>

<% if current_user %>
<%= link_to 'New Post', new_post_path %>
<% end %>