<!DOCTYPE html>
<html>
  <head>
    <title>Berkley's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <div id="header-nav" class="header fixed-top">
      <div id="logo-container" class="container"> <!-- Logo -->
        <div class="logo">
        <em>Stay Salty</em> <br>
        Shine Bright
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light "> <!-- Navbar -->
        <div class="container">
          <!--<%= link_to "The Shell", home_path, :class => "navbar-brand"%>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarText">           

            <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item">
                <%= link_to "Home", home_path, :class => "nav-link" %>
              </li> 
              <!-- Creating Links that will filter data-->
              <%['Adventures', 'Marriage', 'Kitchen', 'Decor'].each do |genre| %>
                <li class="nav-item">
                  <%= link_to genre, post_genre_path(genre: genre), :class => "nav-link" %>
                </li>
              <%end%>
              <li class="nav-item">
                <%= link_to "About Us", home_path, :class => "nav-link" %>
              </li>                     
            </ul>

          </div>
        </div>
      </nav>
    </div>

    <!-- Page Content -->
    <div>
      <div class ="main-body">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Page Footer -->
    <div id="bottom-footer"class="footer py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Berkley Benton 2019</small>
        <div>
          <% if current_user %>            
              Hi <%= current_user.first %>
              <%= link_to "Log Out", logout_path, method: "delete", :class => 'btn' %>           
          <% else %>
              <%= link_to "Log In", 'login', :class => 'btn' %>
              <!-- currently set so no one can sign up unless they already have an account essentially blocking new users-->
              <%= link_to "Sign Up", 'signup', :class => 'btn'%>            
          <%end%>
        </div>
      </div>
    </div>

    
  </body>
</html>
